langchain
langchain-google-genai
langgraph
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-community
pymongo
pydantic
sentence-transformers
chromadb
pypdf
fastapi
uvicorn[standard]
requests
passlib[bcrypt]
python-jose[cryptography]
python-multipart
